CMakeFiles
CMakeCache.txt
cmake_install.cmake
Makefile
libamorphous-core.a
amorphous-core-test
googletest-release-*
glew-*
freetype-*
*.[sS][dD][fF]
*.[oO][pP][eE][nN][sS][dD][fF]
*.[nN][cC][bB]
*.[sS][uU][oO]
*.[pP][dD][bB]
*.[eE][xX][pP]
*.[iI][lL][kK]
*.[uU][sS][eE][rR]
*.[iI][pP][cC][hH]
*.[bB][aA][kK]
*.[dD][lL][lL]
*.[eE][xX][eE]
.[vV][cC]
.[vV][sS]
*/vc10/lib
*.iobj
*.ipdb
*.
.debug
*Log.html
*_Debug.html
*_Release.html
*.msh.txt
*params.txt
*/MeshViewer/app
*/CartridgeMaker/app
screenshots
