*.[sS][dD][fF]
*.[oO][pP][eE][nN][sS][dD][fF]
*.[nN][cC][bB]
*.[sS][uU][oO]
*.[pP][dD][bB]
*.[eE][xX][pP]
*.[iI][lL][kK]
*.[uU][sS][eE][rR]
*.[iI][pP][cC][hH]
*.[bB][aA][kK]
*.[dD][lL][lL]
*.[eE][xX][eE]
.[vV][cC]
*[lL][oO][gG].[hH][tT][mM][lL]
*.msh.txt
params.txt
